<html>
  <head>
    <title>Data on uploaded file</title>
    <script>
      const langPara = "{{para_langs}}";
    </script>
  </head>

  <body>
    <h1>File {{filename}}</h1>
    <p>Size of the file: {{size}} bytes
    <p>Number of sections: {{sections}}
    <p>Number of paragraphs: {{paragraphs}}
    <p>Number of tables: {{tables}}
    <p>Fonts in document: {{fontDict}}
    <p>Paragraph langs detected in original text: {{para_langs}}
      <br/>* Language detection via <a href="https://github.com/saffsd/langid.py">langid.py</a>
    <p>
    <
  </body>
</html>
