<html>
  <head>
  </head>
  <body>
    <h1>Convert font-encoded .docx to Unicode</h1>
    <p>This site offers conversions to Unicode text for some languages and encoding fonts.
    <p>Note that converting a file does not store the contents online.
    <h2>Available conversions</h2>
    <ul>
      <li><a href='/upload/adlam'>.DOCX Adlam</a>: Aissata, Fuuta, Pulaar in Word Doc to Unicode</li>
      <li><a href='/upload/adlam?scriptIndex=3'>.DOCX Latin Fulfulde</a>: Latin text in Word Doc to Adlam Unicode</li>
      <li><a href='/upload_xlsx/adlam?scriptIndex=3'>.XLSX Latin Fulfulde</a>: Latin text in spreadsheet to Adlam Unicode</li>

    </ul>
    <ul>
      <li><a href='/uploadlang?lang=aho'>Ahom</a>: AHOMFONT & Ahom Manuscript to Unicode</li>
    </ul>

    <ul>
      <li><a href='uploadlang?lang=phk'>.DOCX Tai Phake:</a> ASCII encoding in Word Doc to Unicode</li>
    </ul>
    <p>Note: Each paragraph is analyzed. If a paragraph's content is detected to be either English or French, that pararagraph is not converted.
  </body>
  </html>
